      <article class="{{ article.template }}" data-url="{{ article.url }}">
        <header>
          <h1>{{ article.title }}</h1>
          <h2>{{ uri.param('category') }}</h2>
        </header>
        <footer>
{% include '_asides/list-taxonomy.html.twig' 
        with {'tax_type':'category', 'nav_title':'Categories'} %}
        </footer>
{% if config.system.debugger.enabled %}
        <!-- user/themes/photon/templates/_articles/_block/categories.html.twig -->
{% endif %}
      </article>
