      <article class="{{ article.template }}" data-url="{{ article.url }}">
        <header>
          <h1>{{ article.title }}</h1>
          <h2>{{ uri.param('tag') }}</h2>
        </header>
        <footer>
{% include '_asides/list-taxonomy.html.twig' 
        with {'tax_type':'tag', 'nav_title':'Tags'} %}
        </footer>
{% if config.system.debugger.enabled %}
        <!-- user/themes/photon/templates/_articles/_block/tags.html.twig -->
{% endif %}
      </article>
